h1 {
    text-align: center;

}

/* Outer box */
.main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100px;
    width: 300px;
}

.boxdisplay {
    background-color: white;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-self: center;
    width:250px
}

table {
    display: flex;
    justify-content: center;
}

/*box of first row */

/* First row */

/* box of second row */

/* second row */

/* box of third row */

/* third row */

/* box of fourth row */

/* fourth row */
